#example-container {
    position: relative;
}

#hot-options {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    font-size: 14px;
}

#hot-preview {
    margin-left: 220px;
}

#test-hot {
    width: 1280px;
    height: 1080px;
    overflow: hidden;
}

.table-header {
    color: aliceblue;
    background-color: darkblue !important;
}

.table-body {
    color: azure;
    background-color: blue !important;
}

.highlighted {
    background-color: yellowgreen !important;
}

/*.handsontable td.area {*/
    /*background-color: #F00;*/
/*}*/