<!DOCTYPE html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.35.1/handsontable.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.35.1/handsontable.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css">
    <title>
        This is the index page rendered with html.
    </title>
    <body>
        <div id="example-container">
            <div id="hot-options">
                <button class="button" id="newSheet">New sheet</button>
                <button class="button" id="loadData">Load data</button>
                <button class="button" id="createTable">Create Table</button>
                <button class="button" id="importTable">Load a table</button>
                <!--<button class="button" id="infiniteLoad">Infinite load data</button>-->
                <hr>

                <button class="button" id="highlight">highlight</button>
            </div>
            <div id="hot-preview">
                <div id="test-hot"></div>
            </div>
        </div>

    </body>
<script src="/javascripts/demo.js"></script>
</head>
</html>