doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.35.1/handsontable.min.css')
    link(rel='stylesheet', href="https://handsontable.com/static/css/main.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/handsontable/0.35.1/handsontable.min.js")
    script(src="http://code.jquery.com/jquery-3.3.1.min.js")
  body
    block content
    script(src="/javascripts/demo.js")



